

@media (max-width: 1476px) {
    .history-menu{
        padding-left: 105px;
	    padding-right: 105px;
    }
    .best__article::after{
        width: 35%;
    }
    
    .best__article::before{
        width: 35%;
    }
}



@media (max-width: 1266px) {
    .history-menu{
        height:105px
    }
    .history-menu::after{
        top: 105px;
    }

    .hero__content__title{
        padding-top: 185px;
        font-size: 42px;
    }
    /*.hero__content__description{
        padding-top: 40px;
        font-size: 30px;
    }*/
    .hero__container{
        width: 100vw;
    }
    .hero__image1{
        width: 100vw;
    }
    .hero__container::after{
        display: none;
    }
    .hero__image2{
        display: none;
    }
    .best__slider__item {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .best__slider__container{
        max-width: 800px;
    }
    .best__slider__article{
        padding-left: 0px;
        padding-right: 0px;
    }
    .best__article__button{

        width: 170px;
        height: 58.5px;
    }
    .best__article::after{
        width: 34%;
        top: 78%;
    }
    .best__article::before{
        width: 34%;
        top: 78%;
    }
    .history{
        height: 760px;
    }
    .history__slider__container{
        max-width: 794px;
    }
    .history__slider__item {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .history__slider__period {
        width: 100%;
        max-width: 390px;
        max-height: 220px;
        margin-bottom: 20px;
        
    }
    .history__slider__period-tittle{
    
        top: -196px;
        margin:0;
        max-width: 250px;
        height: 150px;
        padding-right: 0;
    }
    .history__slider__period::before{
        width: 290px;
        height: 1.5px;
        top: 187px;
	    left: 50px;
    }
    .history__slider__control::before {
        width: 70px;
        height: 70px;
    }
    .history__slider__control{
        width: 70px;
	    height: 70px;
        top: 36.5%;
    }
    .history__slider__indicators li{
        margin-top: 20px;
    }
}

@media (max-width: 1082px) {
    .articles__container{
        background-color: #FFF6F6;
    }
}

@media (max-width: 992px) {
    #buttonHistory{
        display: none;
    }
    #desk{
        display: none;
    }
    #mobile{
        display: block;
    }

    .header-container{
        height: 65px;
        padding-bottom:0;
    }
    .header__logo {
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        width: 165px;
    }
    .burger-menu {
        display: flex;
        margin-top: 9px;
    }
    .nav{
        display: none;
        position: absolute;

        padding: 0;
        margin: 0;
        top: 80px;
        left: 0px;

        width: 100%;
        z-index: 999;
        background-color: #8D0909;
	    background-position:top;
	    background-size: 100vw;
	    background-repeat: no-repeat;
        flex-flow:column;
    }
    .nav::before{
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
    
        width: 100%;
        height: 2px;
    
        background-color: #A5A5A5;
    
        z-index: 50;
    }
    .nav__link{
        padding-top: 24px;
        width: 100%;
        height: 75px;
        width: 100vw;
        font-size: 24px;
    }
    .nav__link:hover::after {
        display: none;
    }
    .nav__link::before{
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
    
        width: 100vw;
        height: 2px;
    
        background-color: #A5A5A5;
    
        z-index: 50;
    }
    .search__button-cotrol{
        top: 25px;
    }
    .hero__content {
        margin-top: 130px;
    }    
    .hero__content__title{
        padding-top: 205px;
    }

    .best{
        height: 1050px;
    }
    .best__title{
        padding-top: 27px;
        font-size: 32px;
    }
    .best__slider__container{
        padding-bottom: 20px;
    }

    .best__slider__article-tittle{
        font-size: 20px;
    }
    .best__slider__article-description{
        font-size: 16px;
    }

    .best__slider__control {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-align: center;
        width: 50px;
        height: 50px;
        top: 145px;
        background: #C4C4C459;
        border-radius: 40px;
    }

    .best__slider__control:hover,
    .best__slider__control:focus {
        background:#8d09097a;
    }

    .best__slider__control::before {
        width: 18px;
        height: 18px;
    }

    .best__slider__control[data-slide='prev']::before {
        background-image: url("../images/navigation/best_small_arrow_left.svg");
    }
    
    .best__slider__control[data-slide='next']::before {
        background-image: url("../images/navigation/best_small_arrow_right.svg");
    }

    .best__slider__control[data-slide='prev']:hover::before {
        background-image: url("../images/navigation/best_small_arrow_left.svg");
    }
    
    .best__slider__control[data-slide='next']:hover::before {
        background-image: url("../images/navigation/best_small_arrow_right.svg");
    }

    .best__article{
        padding-top: 100px;
        height: 400px;
    }
    .best__article__title{
        font-size: 24px;
    }
    
    .best__article__description{
        padding-top: 30px;
	    padding-bottom: 60px;
        font-size: 18px;
        max-width: 300px;
    }
    
    .best__article__button{

        width: 128px;
        height: 44px;

        background: url("../images/navigation/best_arrow_button.svg");
        background-position: center;
        background-size: 45px 45px;
        background-repeat: no-repeat;
    }
    .best__article:hover .best__article__button{
        background: url("../images/navigation/best_arrow_button_hover.svg");
        background-position: center;
        background-size: 45px 45px;
        background-repeat: no-repeat;
        outline: solid #DCA600;
    }

    .best__article::after{
        display: none;
    }

    .best__article::before{
        display: none;
    }
    .history{
        height: 460px;
    }
    .history__title{
        padding-top: 27px;

        font-size: 32px;
    }
    .history__content{
        margin-top: 42px;
    }
    .history__slider__item {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        justify-content: center;
    }
    .history__slider__period-tittle{

        top: -198px;
    }
    
    .history__slider__control {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-align: center;
        width: 50px;
        height: 50px;
        top:30%;
        background: #C4C4C459;
        border-radius: 40px;
    }

    .history__slider__control:hover,
    .history__slider__control:focus {
        background:#8d09097a;
    }

    .history__slider__control::before {
        width: 18px;
        height: 18px;
    }

    .history__slider__control[data-slide='prev']::before {
        background-image: url("../images/navigation/history_small_arrow_left.svg");
    }
    
    .history__slider__control[data-slide='next']::before {
        background-image: url("../images/navigation/history_small_arrow_right.svg");
    }

    .history__slider__control[data-slide='prev']:hover::before {
        background-image: url("../images/navigation/history_small_arrow_left.svg");
    }
    
    .history__slider__control[data-slide='next']:hover::before {
        background-image: url("../images/navigation/history_small_arrow_right.svg");
    }
    .history__slider__indicators li{
        margin-top: 20px;
        width: 30px;
    }
    .footer{
        width: 100%;
        height: 580px;
    }
    .footer__logo{
        padding-top: 30px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
    
    }
    .footer-container{
        padding-top: 38px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }

    .footer-page__socials {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;

        width: 100%;

        display: flex;
        justify-content: center;
        flex-flow: wrap;
    }

    .footer-page__social {
        padding: 15px ;
    }
    .footer-page__social-title {
        display: none;
    }

    .footer-page__subscribe{
        padding-top: 38px;
        width: 40%;
        height: 100%
    }
    .footer-page__subscribe-title{
        font-size: 18px;
    }
    .footer-page__subscribe-description{
	
        padding-top: 25px;
        font-size: 16px;
    }
    
    .footer-page__subscribe__field{
        margin-top: 27px;
    }
    .footer-page__copyright{
        padding-top: 40px;
        padding-left: 0;
        width: 40%;
        height: 100%;
        justify-content: center;
        text-align: center;
    }
    
    .footer-page__copyright__contacts{
        padding-top: 20px;
    }
    .footer-page__copyright__text{
        padding-top: 20px;
    }
    .footer-page__socials__interblock-line{
        display: none;
    }
    .footer-page__subscribe__interblock-line{
        display: none;
    }
    
    /*СТАТЬЯ*/

    .article{
        margin-top:80px;
        background-color: #FFF6F6;
    
    }
    .article__info{
        padding-top: 42px;
    }
    
    .article__info::before{
        content: "";
        position: absolute;
        top: 42px;
        width: 100%;
        height: 1px;
    
        background-color: black;
    }
    
    .article__info::after{
        content: "";
        position: absolute;
    
        
        width: 100%;
        height: 1px;
    
        background-color: black;
    }
    
    .info__article{
        padding-top: 22px;
        font-size: 22px;
        line-height: 25px;
        text-align: center;
        color: #AEAEAE;
    }
    
    .info__author{
        padding-top: 19px;
        padding-bottom: 33px;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #AEAEAE;
    }
    
    .content__article-title{
        padding-top: 15px;
        padding-bottom: 24px;
        margin-left: auto;
        margin-right: auto;
    
        font-family: Alice;
        font-style: normal;
        font-weight: normal;
        text-align: center;
    
        color: #DCA600;
    }
    
    .article__paragraph{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .paragraph__title{
        padding-bottom: 12px;
    
        font-family: Alice;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
    
        text-align: left;
    
        color: #DCA600;
    }
    .paragraph__text{
   
        font-size: 16px;
        line-height: 18px;
    }
    
    .article__picture{
        padding-top: 30px;
	    padding-bottom:15px;
        padding-left: 15px;
        padding-right: 15px;
    
        margin-left: auto;
        margin-right: auto;
        max-width: 660px;
    }
    
    .article__picture-image{
        width: calc(100vw - 32px);
        height: 100%;

        background-position:center;
        background-size: cover;
        background-repeat: no-repeat;
    
        outline: 2px solid #A5A5A5;
    }
    .picture-image__signature{
        padding-top: 5px;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
    }
    
    .picture-image__copyright{
        position: relative;
        padding-top: 3px;
        padding-bottom: 5px;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
    }
    
    .picture-image__copyright::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        top: 23px;
        left:0;
        background-color: #A5A5A5;
    }
    
    .article__sources{
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 42.5px;
        margin-bottom: 72px;

        display: flex;
        flex-flow: column;
        
        font-size: 16px;
    }
    
    .article__sources::before{
        position: absolute;
        content: "";
        left:15px;
        bottom: -25px;
        width: calc(100% - 30px);
        height: 1px;
        background-color: #A5A5A5;
    }

    .article__sources::after{
        position: absolute;
        content: "";
        left:15px;
        top: -14px;
        width: calc(100% - 30px);
        height: 1px;
        background-color: #A5A5A5;
    }
    
    .sources__title{
        padding-bottom: 25px;
        position: relative;
        max-width: 100%;
        width: 100%;
        height: 100%;

        font-size: 15px;
        line-height: 17px;
        text-align: center;
    }

    .sources__sources-container::after{
        display:none;
    }
    
    .sources-container__source{
        padding-left: 0px;
    }
    
    .article__share{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 62px;
        width: 100%;
        height: 100%;
    
        display: flex;
        justify-content: center;
    }
    .share__link{
        margin-left: 9px;
        margin-right: 9px;
        width: 90.6px;
        height: 36.25px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        outline: 2px solid #A5A5A5;
        transition: all 0.4s ease;
    }
    .share__link:hover{
        background:#DCA600BF;
        outline-color: #DCA600;
    }
    .share__link-icon{
        width: 27.2px;
        height: 27.2px;
        background-position: center;
        background-size: 27.2px 27.2px;
        background-repeat: no-repeat;
    }

    /*ПЕРИОДЫ*/
    .articles__container{
        padding-left:15px;
        padding-right:15px;
    }
    .articles__title{
        padding-top:30px;
        padding-bottom:30px;
        font-size: 32px;
        line-height: 37px;
    }
    .articles__tags{
        max-width: 591px;
        margin-left: auto;
        margin-right: auto;
    }
    .articles__tags::before{
        top:-4px;
        width: 100vw;
    }
    
    .articles__tags::after{
        top:calc(100% + 4px);
        width: 100vw;
    }
    
    .tags__tag{
        margin-top:4px;
        margin-left: 3.5px;
        margin-right: 3.5px;
        margin-bottom:4px;
    
        width: 135px;
        height: 36px;
    
        font-size: 12px;
        line-height: 14px;
    }

    .articles__found-articles{
        padding-top:41px;
        padding-bottom:33px;
        font-size: 24px;
        line-height: 27px;
    }

    .articles__found-articles_none{
        font-size: 18px;
    }
    
    .articles__article{
        padding-bottom: 50px;
        margin-left: auto;
        margin-right: auto;

        max-width: 495px;

    }
    
    .article__container{
        flex-flow: column;
    }

    .articles__article::after{
        position: absolute;
        content: "";
        max-width: 495px;
        width: 100%;
        height: 1px;
        top: calc(100% + -50px);
        background-color: #000000;
    }
    .articles__article-info{
        padding-left:0px;
        max-width: 495px;
    }
    .articles__article-picture{
        width: 495px;
        height: 270px;
    }
    .articles__article-title{
        height: 34px;

        font-size: 20px;
        line-height: 23px;
    
        display: flex;
        justify-content: center;
        align-items:flex-end;
        color: #8D0909;
    }
    
    .articles__article-desc{
        padding-bottom: 20px;
        text-align: center;
        padding-top: 20px;
        font-size: 16px;
        line-height: 18px;

        max-width: none;
    }
}
@media (max-width: 768px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .burger__menu {
        margin-top: 13px;
    }
    .search__button-find {
        right: 15px;
    }
    .search__button-cotrol.find{
        right: 15px;
    }
    .search__button-cotrol.close{
        margin-right: 15px;
    }
    .search__input {
        padding-left:15px;
        padding-right:65px;
    }
    .hero__content__title{
        font-size: 32px;
    }
    .hero__content__description{
        font-size: 22px;
    }
    .best__slider__item {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .history{
        height: 460px;
    }
    .history__slider__item {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .history__slider__control{
        top:30%;
    }
    .history__slider__indicators li{
        margin-top: 20px;
    }
    .footer-page__copyright__title{
        font-size: 18px;
    }
    .footer-page__copyright__contacts{
        font-size: 18px;
    }
    .footer-page__copyright__text{
        font-size: 13px;
    }
    .footer-page__subscribe{
        width: 50%;
    }
    .footer-page__copyright{
        width: 50%;
    }
    .content__article-title{
        max-width: 360px;

        font-size: 34px;
        line-height: 35px;
    }
}

@media (max-width: 576px) {
    .nav__link{
        padding-top: 12.5px;
        height: 50px;
        font-size: 20px;
    }
    .nav__link::before{
        top: 0px;
    }
    .nav::before{
        top: 150px;
    }
    .hero {
        height: 640px;
    }
    .hero__content {
        margin-top: 110px;
    }    
    .hero__container{
        height: 471px;
        background-image: url("../images/hero/Image2.png");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .hero__image1{
        display: none;
    }
    .hero__content__title{
        padding-top: 70px;
        margin-left: auto;
        margin-right:auto;
        max-width: 145px;
        line-height: 37px;
    }
    .hero__content__description{
        padding-top: 90px;
        max-width: 308px;
        line-height: 25px;
    }
    .hero__line1{
        top:-20px;
        height: 20px;
    }
    .hero__line1::before{
        top:-10px;
        height: 10px;
    }
    .hero__line2{
        top:471px;
        height: 10px;
    }
    .hero__line2::before{
        top:10px;
        height: 5px;
    }
    .best{
        height: 1000px;
    }
    .best__content{
        margin-top: 40px;
    }
    .best__title{
        font-size: 24px;
    }
    .best__slider__article-picture{
        width: 200px;
        height: 200px;
    }
    .best__slider__article-tittle{
        max-width: 200px;
    }
    .best__slider__article-description{
        max-width: 200px;
    }
    .best__slider__control {
        top: 105px;
    }    
    .history{
        height: 400px;
    }
    .history__title{
        padding-top: 27px;

        font-size: 24px;
    }
    .history__slider__container{
        padding-bottom: 0px;
    
        max-width: 320px;
    }
    .history__slider__period {
        width: 100%;
        max-width: 320px;
        max-height: 180px;
        padding-bottom: 4px;
        margin-bottom: 0px;
        
    }
    .history__slider__period::before{
        width: 270px;
        top: 157px;
	    left: 25px;
    }
    .history__slider__period-tittle{
        font-size: 20px;
        top: -236px;
        left: 25px;
        max-width: 200px;
        height: 200px;
    }
    .history__slider__control{
        top:25%;
    }
    .history__slider__indicators li{
        margin-top: 40px;
    }
    .footer{
        height: 580px;
    }
    .footer-page__socials {
        padding-left: 80px;
        padding-right: 80px;
    }

    .footer-page__subscribe{
        width: 60%;
    }
    .footer-page__copyright{
        width: 60%;
    }

    .content__article-title{
        font-size: 27px;
        line-height: 31px;
    }
    .articles__title {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .articles__article{
        max-width: 330px;
    }
    .articles__article-picture{
        width: 330px;
        height: 180px;
    }
}
@media (max-width:468px) {
    .footer{
        height: 660px;
    }
}
@media (max-width: 360px) {
    .history{
        height: 400px;
    }
    .history__slider__container{
        padding-bottom: 0px;
    
        max-width: 280px;
    }
    .history__slider__period {
        width: 100%;
        max-width: 280px;
        max-height: 160px;
        margin-bottom: 0px;
    }
    .history__slider__period::before{
        width: 215px;
        top: 137px;
    }
    .footer{
        height: 700px;
    }

}