*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Alice-Regular";  
	src: url("../fonts/Alice-Regular.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
}

[v-cloak] {
	display: none;
}  

#mobile {
	display: none;
}

body {
	font-family: 'Alice-Regular';
	font-weight: 400;
	overflow-x: hidden;
}
button {
	background: none;
	border:none;
	outline:none;
}
img {
	image-rendering: optimizeQuality;
	object-fit: cover;
	max-width: 100%;
}

input::placeholder {
	padding-left: 2px;
	color: #ffffff;
	font-size: 16px;
}

label { 
	-webkit-appearance: push-button;
	-moz-appearance: button; 
	display: inline-block;
	cursor: pointer;
}

li {
    list-style-type: none;
}
ul {
    padding-left: 0;
}

h1 {
	margin: 0;
	font-style: normal; 
	font-weight: normal;
}

h2 {
	margin: 0;
	font-style: normal; 
	font-weight: normal;
}

.button-reset {
	padding: 0;
	border: none;
	font-family: 'Alice-Regular';
	background-color: transparent;
	cursor: pointer;
}

.header__logo {
	width: 145px;
	height: 50px;
}

.container {
	padding: 0 50px;
	margin: 0 auto;
	max-width: 1600px;
	display: flex;
	justify-self: center;
	flex-flow: column;
}
.backdrop{
	display: block;
	position: fixed;
	left: -100%;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	opacity: 0;
	transition: opacity 0.3s ease;
	z-index: 100;
}
.header {
	padding-top: 15px;
	position: absolute;
	display: flex;
	justify-self: center;
	flex-flow: column;
	top: 0;
	left: 0;
	max-height: 140px;
	width: 100%;
	z-index: 0;

	background-color: #8D0909;
	background-position: center;
	background-size: 100vw;
	background-repeat: no-repeat;
}

.header-container {
	padding: 0px 50px 10px;
	display: inline-flex;
	justify-content: space-between;

	height: 65px;
}

.burger-menu {
	display: none;
	flex-wrap: wrap;
	position: absolute;

	margin-top: 13.5px;

	width: 20px;
	height: 36px;
}

.burger-menu__line {
	position: relative;
	content: "";
	top:1px;
	width: 20px;
	height: 2px;
	margin-top: 4.5px;
	margin-bottom: 4.5px;
	background-color: #fff;
}

.link_white {
	color:#ffffff;
	text-decoration: none;

	position: relative;

	font-weight: normal;
	font-size: 20px;
	line-height: 23px;

	transition: color .1s ease-in-out;
}

.nav
{
	left:0;
	top: 30px;
	width: 100%;
	padding-left: 26.3%;
	padding-right: 26.3%;
	position: absolute;

	display: flex;
	align-items: center;	
	justify-content: space-between;

	text-align: center;
	transition: opacity 0.3s ease;
}

.nav__link {
	color:#ffffff;
	text-decoration: none;

	position: relative;

	font-weight: normal;
	font-size: 20px;
	line-height: 23px;

	transition: color .1s ease-in-out;
}


.nav__link::after{
	content: "";
	width: 100%;
	height: 1px;
	display: none;

	background-color: #DCA600;

	position: absolute;
	top: 24px;
	left: 0;
	z-index: 1;
}

.nav__link:hover {
	color: #DCA600;
}

.nav__link:hover::after {
	display: block;
}

.search__button-cotrol {
	position: absolute;
	top:25px; /*10*/

	width: 35px;
	height:35px;

	cursor: pointer;
}

.search__button-cotrol.find{
	right: 50px;
	background-image: url("../images/navigation/find_search.svg");
	background-position: center;
	background-size: 30px 30px;
	background-repeat: no-repeat;
}
.search__button-cotrol.find:hover{
	background-size: 25px 25px;
}
.search__button-cotrol.close{
	margin-right: 50px;
	right: 2.5px;
	background-image: url("../images/navigation/find_close.svg");
	background-position: center;
	background-size: 25px 25px;
	background-repeat: no-repeat;
}
.search__button-cotrol.close:hover{
	background-size: 20px 20px;
}

.search__button-find {
	display: none;
	position: absolute;	

	top: 95px;
	right: 50px;
	z-index: 151;

	width: 35px;
	height: 35px;

	background-image: url("../images/navigation/find_search.svg");
	background-size: 30px 30px;
	background-position: center;
	background-repeat: no-repeat;

	cursor: pointer;
}

.search__button-find:hover {
	background-size: 25px 25px;
}

.search__input {
	display: none;

	width: 100%;
	height: 60px;
	position: absolute;
	z-index: 150;

	left:0;
	top: 80px;
	padding-left:50px;
	padding-right:100px;

	font-size: 38px;

	color: #fff;
	background-color: #DCA600;
	border:none;
	outline:none;
}

#buttonHistory { 
	cursor: pointer; 
}

.history-menu{
	display: none;
	position: absolute;

	top: 80px;
	left:0;
	
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 210px;
	padding-right: 210px;

	/*max-width: 1180px;*/
	width: 100%;
	height: 80px;

	/*z-index: 10;*/
	z-index: 9999;
	flex-flow: wrap;

	background: #FFF6F6;
	background-size: 100vw;

	text-align: center;
	font-size: 20px;
	color: #000000;

	box-shadow: 0px 4px 4px rgba(141, 9, 9, 0.25);
}
.history-menu::after{
	display: none;
	content: "";
	position: absolute;
	top: 80px;
	left:0px;
	width: 100%;
	height: 2px;
	background-color: #8D0909;
}
.link_black {
	color:#000000;
	text-decoration: none;
}	

.history-menu__link:hover {
	color: #DCA600;
}

.hero {
	color:#ffffff;
	width: 100%;
	height: 900px;

	background-color: #8D0909;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.hero__content {
	margin-top: 160px;
}

.hero__content__title{
	position: relative;
	padding-top: 140px;

	font-size: 50px;
	line-height: 57px;
	z-index: 10;

}
.hero__content__description{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 440px;
	width: 100%;
	height: 50%;

	padding-top: 120px;

	font-size: 28px;
	line-height: 32px;
	z-index: 10;
}
.hero__container{
	height: 675px;
	width: 75vw;
	left: 0px;
	position: absolute;

	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-shadow: 0px 0px 5px rgb(0, 0, 0);
}
.hero__line1{
	position: absolute;
	top:-30px;
	left:0px;
	width: 100vw;
	height: 30px;
	background-color: #FFF6F6;
	z-index: 2;
}
.hero__line1::before{
	content: "";
	position: absolute;
	top:-10px;
	left:0px;
	width: 100vw;
	height: 10px;
	background-color: #dca50040;
}
.hero__line2{
	content: "";
	position: absolute;
	top:675px;
	width: 100vw;
	height: 20px;
	background-color: #FFF6F6;
}
.hero__line2::before{
	content: "";
	position: absolute;
	top:20px;
	left:0px;
	width: 100vw;
	height: 10px;
	background-color: #dca50040;
}
.hero__image1{
	position: absolute;
	top:0px;
	left:0px;
	width: 75vw;
	height: 100%;
	object-position:top;
}
.hero__image2 {
	height: 675px;
	width: 25vw;
	left:75vw;
	position: absolute;
	object-position:top;
}

.hero__container::after{
	display: block;
	content: "";
	position: absolute;
	left:calc(75vw + -1.25px);
	top:0;
	height: 675px;
	width: 2.5px;
	background-color: #9F0B0B96;
	z-index: 50;
}

.best{
	width: 100%;
	height: 1350px;
	
	background: url("../images/bg/bg-best.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.best__title{
	padding-top: 50px;

	text-align: center;
	font-weight: normal;
	font-size: 42px;
	line-height: 48px;
}

.best__content{
	margin-top: 50px;

	display: flex;
	justify-content: center;
	flex-flow: column;
}

.best__slider{
	max-width: 1400px;
	width: 100%;
	align-self: center;
}

.best__slider__container{
	padding-bottom: 90px;

	max-width: 980px;
	
	margin-left: auto;
	margin-right: auto;
}

.best__slider__wrapper {
	overflow: hidden;
}

.best__slider__item {
	flex: 0 0 33.3333333333%;
	max-width: 33.3333333333%;
}

.best__slider__article{
	padding-top: 2px;
	padding-left: 20px;
	padding-right: 20px;

	display: flex;
	align-items: center;
	flex-flow: column;

	transition: all .3s ease-in-out;
}

.best__slider__article:hover{
	color: #DCA600;
}

.best__slider__article-picture{
	margin-top: 4px;
	width: 290px;
	top: 50%;
	outline: solid;
	box-shadow: 0px 0px 6px 1px #00000080;
}

.best__slider__article-tittle{
	max-width: 290px;
	padding-top: 20px;

	display: flex;
	align-items: center;
	text-align: center;


	font-size: 24px;
	line-height: 27px;
	
	color: #8D0909;
}
.best__slider__article-description{
	max-width: 290px;
	padding-top: 10px;

	display: block;
	align-items: center;
	text-align: center;

	font-size: 20px;
	line-height: 23px;
}

.best__slider__article-description:first-letter{
	text-transform: uppercase;
}

.best__slider__control {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	top: 145px;
	background: none;

	transform: none;
}

.best__slider__control:hover,
.best__slider__control:focus {
  	color: #fff;
  	text-decoration: none;
  	outline: 0;
  	background: none;
}

.best__slider__control[data-slide='prev'] {
	left: 0;
}
  
.best__slider__control[data-slide='next'] {
	right: 0;
}

.best__slider__control::before {
	content: '';
	display: inline-block;
	width: 50px;
	height: 50px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
	transition: all .3s ease-in-out;
}

.best__slider__control[data-slide='prev']::before {
	background-image: url("../images/navigation/best_arrow_left.svg");
}
  
.best__slider__control[data-slide='next']::before {
	background-image: url("../images/navigation/best_arrow_right.svg");
}

.best__slider__control[data-slide='prev']:hover::before {
	background-image: url("../images/navigation/best_arrow_left_hover.svg");
}
  
.best__slider__control[data-slide='next']:hover::before {
	background-image: url("../images/navigation/best_arrow_right_hover.svg");
}

.best__article{
	
	margin-top:40px;
	max-width: 1400px;
	width: 100%;
    height: 560px;

	padding-top: 170px;
	display: flex;
	align-self: center;
	align-content: center;
	flex-flow: column;

	outline: solid black;
	user-select: none;
	transition: all .3s ease-in-out;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}
.best__article-picture{
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.best__article__title{
	display: flex;
	justify-self: center;
	align-self: center;

	font-weight: normal;
	font-size: 42px;
	line-height: 48px;
	text-align: center;
	z-index: 10;
}

.best__article__description{
	
	padding-top: 40px;
	padding-bottom: 90px;
	max-width: 450px;

	display: block;
	justify-self: center;
	align-self: center;

	font-size: 24px;
	line-height: 27px;
	text-align: center;
	z-index: 10;
}

.best__article__description:first-letter{
	text-transform: uppercase;
}

.best__article__button{
	width: 212px;
	height: 73px;

	align-self: center;

	position: relative;

	background-image: url("../images/navigation/best_arrow_button.svg");
	background-position: center;
	background-size: 75px 75px;
	background-repeat: no-repeat;
	outline: solid white;
	transition: all .3s ease-in-out;
	z-index: 10;
}

.best__article::after{
	display: block;
	content: "";
	width: 36%;
	max-width: 568px;
	height: 1px;

	background-color: white;
	opacity: 60%;

	position: absolute;
	top: 79%;
	left: 40px;
	z-index: 1;
	transition: all .3s ease-in-out;
}
.best__article::before{
	display: block;
	content: "";
	width: 36%;
	max-width: 568px;
	height: 1px;

	background-color: white;
	opacity: 60%;

	position: absolute;
	top: 79%;
	right: 40px;
	z-index: 1;
	transition: all .3s ease-in-out;
	z-index: 10;
}

.best__article:hover{
	color:#DCA600;
	outline-color: #DCA600;
}
.best__article:hover .best__article__button{
	background-image: url("../images/navigation/best_arrow_button_hover.svg");
	background-position: center;
	background-size: 75px 75px;
	background-repeat: no-repeat;
	outline: solid #DCA600;
}

.best__article:hover::after{
	background-color: #DCA600;
}

.best__article:hover::before{
	background-color: #DCA600;
}

.history{
	width: 100%;
	height: 900px;

	background: url("../images/bg/bg-history.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	color: #ffffff;
}
.history__title{
	padding-top: 60px;

	text-align: center;
	font-weight: normal;
	font-size: 42px;
	line-height: 48px;
}

.history__content{
	margin-top: 70px;
	
	display: flex;
	justify-content: center;
	flex-flow: column;
}
.history__slider__container{
	padding-bottom: 0px;

	max-width: 1004px;

	margin-left: auto;
	margin-right: auto;
}

.history__slider__wrapper{
	max-height: 620px;
}

.history__slider__item {
	flex: 0 0 100%;
	max-width: 100%;

	display: flex;
	justify-content: space-between;
	flex-flow: wrap;
}

.history__slider__period {
	padding-left:4px;
	padding-right: 4px;
	width: 100%;
	max-width: 480px;
	max-height: 270px;
	margin-bottom: 40px;

	position: relative;
}

.history__slider__period::before{
	display: block;
	content: "";
	width: 380px;
	height: 2px;
	line-height: 27px;
	background-color: #8D0909;
	opacity: 60%;
	
	position: relative;
	top: 237px;
	left: 50px;
	z-index: 1;
}

.history__slider__period-picture {
	width: 100%;
	height: 100%;
	outline: solid;
	transition: all .3s ease-in-out;
}

.history__slider__period:hover .history__slider__period-picture{
	outline-color: #DCA600;
}


.history__slider__period:hover .history__slider__period-tittle {
	color: #DCA600;
}

.history__slider__period-tittle{

	position: relative;

	display:flex;
	flex-direction:column-reverse;

	top: -256px;
	left: 50px;

	max-width: 250px;
	height: 200px;
	font-size: 24px;
	line-height: 27px;
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
	text-shadow: -1px 0 black, 0 1px black;
	text-align: left;
	transition: color .3s ease-in-out;
}

.history__slider__control {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	top: 38.5%;
	background: none;
	transform: none;
}

.history__slider__control[data-slide='prev'] {
	left: 0;
}
  
.history__slider__control[data-slide='next'] {
	right: 0;
}

.history__slider__control:hover,
.history__slider__control:focus {
  	color: #fff;
  	text-decoration: none;
  	outline: 0;
  	background: none;
}

.history__slider__control::before {
	content: '';
	display: inline-block;
	width: 80px;
	height: 80px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
	transition: all .3s ease-in-out;
}

.history__slider__control[data-slide='prev']::before {
	background-image: url("../images/navigation/history_arrow_left.svg");
}
  
.history__slider__control[data-slide='next']::before {
	background-image: url("../images/navigation/history_arrow_right.svg");
}

.history__slider__control[data-slide='prev']:hover::before {
	background-image: url("../images/navigation/history_arrow_left_hover.svg");
}
  
.history__slider__control[data-slide='next']:hover::before {
	background-image: url("../images/navigation/history_arrow_right_hover.svg");
}

.slider__indicators {
	position: relative;
}

.history__slider__indicators li {
	margin-top: 8px;

	box-sizing: content-box;
	flex: 0 1 auto;
	width: 50px;
	height: 2px;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #8d09097a;
	background-clip: padding-box;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
}

.history__slider__indicators li.active {
	background-color: white;
}

.footer{
	width: 100%;
	height: 420px;
	
	background: #8D0909;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.footer::before{
	content: "";
	display: block;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 1px;
	z-index: 50;
	background-color: rgba(255, 247, 247, 0.5);
}
.footer__logo{
	padding-top: 20px;
	padding-right: 25px;

	display: block;
	margin-left: auto;
    margin-right: auto;

}

.footer-container{
	padding-top: 38px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}

.footer-page__socials {
	padding-top: 15px;
	max-width: 440px;
	width: 21.4vw;
	height: 100%;

	font-family: Alice;
	font-weight: 400;
	line-height: 23px;
	font-size: 24px;

	display: flex;
	flex-flow: column;

	text-transform:uppercase;

	color: #FFFFFF;
}

.footer-page__social {
	display: inline-flex;
	align-items: center;
	line-height: 1;
	padding-bottom: 15.6px;

}

.footer-page__social:hover {
	color: #DCA600;
}

.footer-page__social-title{
	padding-left: 20px;
}

.footer-page__social-icon{
	width: 31.5px;
	height: 29px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 31.5px 29px;
}


.footer-page__socials__interblock-line{
	content: "";
	display: block;
	margin-left: 40px;
	margin-right: 40px;
	width: 1px;
	height: 220px;
	background-color: #ffffff;
}

.footer-page__subscribe{

	display: flex;
	flex-flow: wrap;
	justify-content: center;
	align-content:space-between;

	max-width: 440px;
	width: 21.4vw;
	height: 225px;

	font-family: Alice;
	font-weight: 400;
	line-height: 23px;

	position: relative;

	text-align: center;
	color: #FFFFFF;
}

.footer-page__subscribe-title{
	font-size: 24px;
	text-transform:uppercase;
}

.footer-page__subscribe-description{
	font-size: 20px;
}

.footer-page__subscribe__field{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 100%;
	position: relative;
	display:flex;
	justify-content: space-between;
	align-items: baseline;
	align-self: center;
	flex-wrap: nowrap;
}

.footer-page__subscribe__field::after{
	content: "";
	position: absolute;
	left:20px;
	top:24px;
	width: calc(100% + -40px);
	height: 1px;
	z-index: 100;
	background-color: #ffffff;
}

.footer-page__subscribe__input{
	position: relative;
	padding-right: 12px;
	padding-bottom: 7px;
	margin-left: auto;
    margin-right: auto;
	max-width: calc(100% - 20px);
	background: none;
	border:none;
	outline:none;

	color: #ffffff;
}

.footer-page__subscribe__button{
	width: 20px;
	height: 16px;

	background: url("../images/navigation/subscribe_arrow.svg");
	background-position: center;
	background-size: 20px 16px;
	background-repeat: no-repeat;	

	border:none;
	outline:none;
}

.footer-page__subscribe__button:hover {
	background-size: 18px 14px;
	color: black;
	opacity: 0.5;
}


.footer-page__subscribe__line{
	margin-left: auto;
    margin-right: auto;
	content: "";
	display: none;
	position: relative;
	width: calc(100% - 40px);
	height: 1px;
	background-color: #ffffff;
}

.footer-page__subscribe__interblock-line{
	content: "";
	display: block;
	margin-left: 40px;
	margin-right: 40px;
	width: 1px;
	height: 220px;
	background-color: #ffffff;
}

.footer-page__copyright{
	max-width: 440px;
	width: 21.4vw;
	height: 225px;

	display: flex;
	flex-flow: wrap;
	align-content:space-between;

	font-family: Alice;
	font-weight: 400;
	line-height: 23px;
	color: #FFFFFF;
}
.footer-page__copyright__title{
	font-size: 20px;
}
.footer-page__copyright__contacts{
	font-style: normal;
	font-size: 20px;
}
.footer-page__copyright__text{
	font-size: 16px;
}

.article{
	margin-top:80px;
	background-color: #FFF6F6;

}
.article__content{
	max-width: 1020px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;

	background-color: #ffffff;
}
.article__info{
	padding-top: 80px;
	margin-left: auto;
	margin-right: auto;

	position: relative;
}

.article__info::before{
	content: "";
	position: absolute;

	top: 79px;
	width: 100%;
	height: 1px;

	background-color: black;
}

.article__info::after{
	content: "";
	position: absolute;

	
	width: 100%;
	height: 1px;
	z-index: 10;

	background-color: black;
}

.info__article{
	padding-top: 44px;
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	color: #AEAEAE;
}

.info__author{
	padding-top: 44px;
	padding-bottom: 56px;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	color: #AEAEAE;
}

.content__article-title{
	padding-top: 27.5px;
	padding-bottom: 24px;
	margin-left: auto;
	margin-right: auto;

	max-width: 660px;

	font-family: Alice;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 57px;
	text-align: center;

	color: #DCA600;
}

.article__paragraph{
	margin-left: auto;
	margin-right: auto;
	padding-top: 22.5px;
	padding-bottom: 22.5px;
	max-width: 660px;
}
.paragraph__title{
	padding-bottom: 5px;

	font-family: Alice;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 30px;

	text-align: left;

	color: #DCA600;
}
.paragraph__text{

	width: 100%;
	height: 100%;

	font-size: 18px;
	line-height: 21px;
	text-align: justify;
}

.article__picture{
	padding-top: 17.5px;

	margin-left: auto;
	margin-right: auto;
	max-width: 660px;
}

.article__picture-image{
	width: 100%;
	height: 100%;

	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;

	outline: 2px solid #A5A5A5;
	box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
}
.picture-image__signature{
	padding-top: 10px;
	font-size: 13px;
	line-height: 15px;
}

.picture-image__copyright{
	position: relative;
	padding-top: 3px;
	padding-bottom: 5px;
	font-size: 13px;
	line-height: 15px;
	color: #A5A5A5;
}

.picture-image__copyright::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	top: 23px;
	left:0;
	background-color: #A5A5A5;
}

.article__sources{
	position: relative;
	width: 100%;
	max-width: 660px;
	margin-top: 42.5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 102px;
	display: flex;
	
	font-size: 16px;
}

.article__sources::after{
	position: absolute;
	content: "";
	bottom: -42px;
	width: 100%;
	height: 1px;
	background-color: #A5A5A5;
}

.sources__title{
	position: relative;
	max-width: 120px;
	width: 100%;
	height: 100%;
}
.sources__sources-container{
	max-width: 540px;
	width: 100%;
	height: 100%;
}

.sources__sources-container::after{
	position: absolute;
	content: "";
	top:0;
	width: 1px;
	height: calc(100% + 20px);
	background-color: #A5A5A5;
}

.sources-container__source{
	padding-left: 20px;
}

.article__share{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 62px;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
}
.share__link{
	margin-left: 9px;
	margin-right: 9px;
	width: 140px;
	height: 40px;

	display: flex;
	justify-content: center;
	align-items: center;

	outline: 2px solid #A5A5A5;
	transition: all 0.4s ease;
	box-shadow: 0px 0px 4px 0px #00000040;

}
.share__link:hover{
	background:#DCA600BF;
	outline-color: #DCA600;
}
.share__link-icon{
	width: 30px;
	height: 30px;
	background-position: center;
	background-size: 30px 30px;
	background-repeat: no-repeat;
}

.articles{
	margin-top:80px;
	background-color: #FFF6F6;

}
.articles__container{
	max-width: 1020px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;

	background-color: #ffffff;
}

.articles__title{
	padding-top:60px;
	padding-bottom:60px;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 57px;
	text-align: center;
}

.articles__tags{
	position: relative;
	display: flex;
	justify-content: center;
	flex-flow: wrap;
}

.articles__tags::before{
	position: absolute;
	content: "";
	top:-22px;
	width: 100%;
	height: 1px;
	background-color: #000000;
}

.articles__tags::after{
	position: absolute;
	content: "";
	top:calc(100% + 22px);
	width: 100%;
	height: 1px;
	background-color: #000000;
}

.tags__tag{
	margin-top:10px;
	margin-left: 12.5px;
	margin-right: 12.5px;
	margin-bottom:10px;

	width: 210px;
	height: 40px;

	text-align: center;
	display:inline-flex;
	justify-content: center;
	align-items: center;
	outline: 1px solid #000000;

	cursor: pointer;
	transition: all 0.3s;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tags__tag.pressed{
	background:#DCA600BF;
}

.tags__tag.unpressed:hover{
	color:#DCA600;
	outline-color: #DCA600;
}

.articles__found-articles{
	padding-top:72px;
	padding-bottom:67px;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	line-height: 48px;
	text-align: center;
}

.articles__content{
	max-width: 942px;
	margin-left: auto;
	margin-right: auto;
	max-height: 100%;
}

.articles__article{
	position: relative;
	display:flex;
	margin-bottom: 132px;

	transition: color 0.3s;
}

.articles__article::after{
	position: absolute;
	content: "";
	width: 100%;
	height: 1px;
	top: calc(100% + 60px);
	background-color: #000000;
}

.articles__article:hover{
	color: #DCA600;
	outline: 3px solid #DCA600;
}

.articles__article:hover .articles__article-picture{
	outline-color: #DCA600;
}

.articles__article-picture{
	width: 478px;
	height: 268px;

	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	outline: 2px solid #000000;
	box-shadow: 4px 2px 6px 2px rgba(0, 0, 0, 0.25);

	transition: all 0.3s;
}
.articles__article-info{
	padding-left:92px;
	max-width: 369px;
}
.articles__article-title{
	/*margin-top: 60px;*/
	height: 95px;
	font-size: 32px;
	line-height: 37px;

	display: flex;
	align-items:flex-end;
	color: #8D0909;
}

.articles__article-desc{
	padding-top: 60px;
	font-size: 20px;
	line-height: 23px;
}

.articles__article-desc:first-letter{
	text-transform: uppercase;
}
