<!doctype html>
<html lang="ru">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
	<%- include('./partials/header'); %>
	<main>
		<div class = "backdrop"></div>
        <div class = "article" id = "Article" v-cloak>
            <div class = "container__loader" v-if = "loading" style = "padding-top: 180px; padding-bottom:240px">
                <div class = "loader"></div>
            </div>
            <div class = "article__content" v-else-if = "article">
                <div class = "article__info">
                    <div class = "info__article">
                        {{article.date}} · {{tag}}
                    </div>
                    <div class = "info__author">
                        Автор {{article.author}}
                    </div>
                </div>
                <div class = "article__paragraph" v-for = "n in length">
                    <h1 class = "content__article-title" v-if = "n - 1 === 0">{{article.name}}:<br>{{article.descr}}</h1>
                    <h2 class = "paragraph__title" v-else>{{article.titles[n - 2]}}</h2>
                    <div class = "paragraph__text" v-for = "paragraph in article.paragraphs" v-if = "paragraph[0] == n - 1">
                        <br><p>{{paragraph[1]}}</p>
                    </div>
                    <div class = "article__picture" v-if = "article.pictures[n - 1] != null">
                        <img class = article__picture-image v-bind:src="article.pictures[n - 1]" alt = "Изображение">
                        <div class = "picture-image__signature">{{article.pictures_desc[n - 1]}}</div>
                        <div class = "picture-image__copyright">{{article.pictures_copyright[n - 1]}}</div>
                    </div>
                </div>
                <div class = "article__sources">
                    <div class = "sources__title">Источники и литература</div>
					<div class = "sources__sources-container">
						<div class = "sources-container__source" v-for = "source in article.sources">{{source}}</div>
					</div>
                </div>
				<div class = "article__share">
					<a class = "share__link link_black" v-bind:href = "'http://vk.com/share.php?url='+ URI + '&title=' + article.name + '&description=' + article.descr + '&image=http://5.206.92.193:5500/' + article.preview_image + '&noparse=true'" target="_blank">
						<img class="share__link-icon" src = "/assets/images/social/share_icon-vk.svg" alt="Иконка вконтакте">
					</a>
					<a class = "share__link link_black" v-bind:href = "'http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st._surl=' + URI + '&st.comments=' + article.name" target="_blank">
						<img class="share__link-icon" src = "/assets/images/social/share_icon-ok.svg" alt="Иконка одноклассники">
					</a>
					<a class = "share__link link_black" v-bind:href = "'https://twitter.com/share?url=' + URI + '&text=' + article.name" target="_blank">
						<img class="share__link-icon" src = "/assets/images/social/share_icon-twitter.svg" alt="Иконка твиттер">
					</a>
				</div>
            </div>
            <div class = "article__content_none" v-else>Статья не найдена</div>
        </div>
	</main>
	<%- include('./partials/footer'); %>
    <script type="module" src = "/assets/scripts/article.js"></script>
</body>
</html>