<!doctype html>
<html lang="ru">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>
	<main>
		<div class = "backdrop"></div>
		<div class = "hero">
			<div class = "container">
				<div class="hero__content">
					<div class = "hero__container">
						<div class = "hero__line1"></div>
						<img class = "hero__image1" src = "/assets/images/hero/Image1.png" alt="Изображение 1">
						<h1 class="hero__content__title">
							История Японии
						</h1>
						<div class="hero__content__description">
							Погрузитесь в удивительную и увлекательную историю страны восходящего солнца
						</div>
						<div class = "hero__line2"></div>
					</div>
					<img class = "hero__image2" src = "/assets/images/hero/Image2.png" alt="Изображение 2">
				</div>
			</div>
		</div>
		<div class = "best">
			<div class = "container">
				<h1 class = "best__title">
					Лучшее
				</h1>
				<div class = "best__content" id = "BestArticles" v-cloak>
					<div class = "container__loader" v-if = "loadingSlider">
						<div class = "loader"></div>
					</div>
					<div class="slider best__slider" v-else-if = "articles.length">
						<div class="slider__container best__slider__container">
							<div class="slider__wrapper best__slider__wrapper">
								<div class="slider__items best__slider__items">
									<div class="slider__item best__slider__item slider__item_active" v-for="article in articles">
										<a class = "best__slider__article link_black" v-bind:href = "'/article/' + article.article_id">
											<img class = "best__slider__article-picture" width="290" height="290" v-bind:src = "article.preview_image" alt="Изображение">
											<div class = "best__slider__article-tittle">{{article.name}}</div>
											<div class = "best__slider__article-description">{{article.descr}}</div>
										</a>
									</div>
								</div>
						  	</div>
						</div>
						<a href="#" class="slider__control best__slider__control" data-slide="prev"></a>
						<a href="#" class="slider__control best__slider__control" data-slide="next"></a>
					</div>
					<div class = "article__content_none" v-else>Статьи не найдены</div>

					<div class = "container__loader" v-if = "loadingArticle">
						<div class = "loader"></div>
					</div>
					<a class = "best__article link_white" v-else-if = "bestArticle" v-bind:href = "'/article/' + bestArticle.article_id">
						<img class = "best__article-picture" width="1505" height="560" v-bind:src = "bestArticle.preview_image" alt="Изображение">
						<h1 class = "best__article__title">{{bestArticle.name}}</h1>
						<div class = "best__article__description">{{bestArticle.descr}}</div>
						<div class = "best__article__button"></div>
					</a>
					<div class = "article__content_none" v-else>Статья не найдена</div>
				</div>
			</div>
		</div>
		<div class = "history">
			<div class = "container">
				<h1 class = "history__title">
					Периоды
				</h1>
				<div class = "history__content">
					<div class="slider history__slider-desk" id = "desk">
						<div class="slider__container history__slider__container">
							<div class="slider__wrapper history__slider__wrapper">
								<div class="slider__items history__slider__items">

									<div class="slider__item history__slider__item">
										<a class = "history__slider__period link_white" href="/periods?tag=tag1">
											<img class = "history__slider__period-picture" width="480" height="268" src = "/assets/images/periods/image1.png" alt="Изображение 1">
											<div class = "history__slider__period-tittle">Доисторическая Япония</div>
										</a>
										<a class = "history__slider__period link_white" href="/periods?tag=tag2">
											<img class = "history__slider__period-picture" width="480" height="268" src = "/assets/images/periods/image2.png" alt="Изображение 2">
											<div class = "history__slider__period-tittle">Эра родовой аристократия</div>
										</a>
										<a class = "history__slider__period link_white" href="/periods?tag=tag3">
											<img class = "history__slider__period-picture" width="480" height="268" src = "/assets/images/periods/image3.png" alt="Изображение 3">
											<div class = "history__slider__period-tittle">Эра военной аристократии</div>
										</a>		
										<a class = "history__slider__period link_white" href="/periods?tag=tag4">
											<img class = "history__slider__period-picture" width="480" height="268" src = "/assets/images/periods/image4.png" alt="Изображение 4">
											<div class = "history__slider__period-tittle">Эпоха воюющих провинций</div>
										</a>
							  		</div>

									<div class="slider__item history__slider__item">
										<a class = "history__slider__period link_white" href="/periods?tag=tag5">
											<img class = "history__slider__period-picture" width="480" height="268" src = "/assets/images/periods/image5.png" alt="Изображение 5">
											<div class = "history__slider__period-tittle">Сёгунат Токугава</div>
										</a>
										<a class = "history__slider__period link_white" href="/periods?tag=tag6">
											<img class = "history__slider__period-picture" width="480" height="268" src = "/assets/images/periods/image6.png" alt="Изображение 6">
											<div class = "history__slider__period-tittle">Модернизация</div>
										</a>
										<a class = "history__slider__period link_white" href="/periods?tag=tag7">
											<img class = "history__slider__period-picture" width="480" height="268" src = "/assets/images/periods/image7.png" alt="Изображение 7">
											<div class = "history__slider__period-tittle">Япония в качестве Великой Державы</div>
										</a>		
										<a class = "history__slider__period link_white" href="/periods?tag=tag8">
											<img class = "history__slider__period-picture" width="480" height="268" src = "/assets/images/periods/image8.png" alt="Изображение 8">
											<div class = "history__slider__period-tittle">Современность</div>
										</a>
							  		</div>
								</div>
						  	</div>
						</div>
						<a href="#" class="slider__control history__slider__control" data-slide="prev"></a>
						<a href="#" class="slider__control history__slider__control" data-slide="next"></a>
						<ol class="slider__indicators history__slider__indicators">
							<li data-slide-to="0"></li>
							<li data-slide-to="1"></li>
						</ol>
					</div>
					<div class="slider history__slider-mobile" id = "mobile">
						<div class="slider__container history__slider__container">
							<div class="slider__wrapper history__slider__wrapper">
								<div class="slider__items history__slider__items">

									<div class="slider__item history__slider__item">
										<a class = "history__slider__period link_white" href="/periods?tag=tag1">
											<img class = "history__slider__period-picture" width="480" height="268" src = "/assets/images/periods/image1.png" alt="Изображение 1">
											<div class = "history__slider__period-tittle">Доисторическая Япония</div>
										</a>
									</div>
									<div class="slider__item history__slider__item">
										<a class = "history__slider__period link_white" href="/periods?tag=tag2">
											<img class = "history__slider__period-picture" width="480" height="268" src = "/assets/images/periods/image2.png" alt="Изображение 2">
											<div class = "history__slider__period-tittle">Эра родовой аристократии</div>
										</a>
									</div>
									<div class="slider__item history__slider__item">
										<a class = "history__slider__period link_white" href="/periods?tag=tag3">
											<img class = "history__slider__period-picture" width="480" height="268" src = "/assets/images/periods/image3.png" alt="Изображение 3">
											<div class = "history__slider__period-tittle">Эра военной аристократии</div>
										</a>
									</div>
									<div class="slider__item history__slider__item">		
										<a class = "history__slider__period link_white" href="/periods?tag=tag4">
											<img class = "history__slider__period-picture" width="480" height="268" src = "/assets/images/periods/image4.png" alt="Изображение 4">
											<div class = "history__slider__period-tittle">Эпоха воюющих провинций</div>
										</a>
							  		</div>

									<div class="slider__item history__slider__item">
										<a class = "history__slider__period link_white" href="/periods?tag=tag5">
											<img class = "history__slider__period-picture" width="480" height="268" src = "/assets/images/periods/image5.png" alt="Изображение 5">
											<div class = "history__slider__period-tittle">Сёгунат Токугава</div>
										</a>
									</div>
									<div class="slider__item history__slider__item">
										<a class = "history__slider__period link_white" href="/periods?tag=tag6">
											<img class = "history__slider__period-picture" width="480" height="268" src = "/assets/images/periods/image6.png" alt="Изображение 6">
											<div class = "history__slider__period-tittle">Модернизация</div>
										</a>
									</div>
									<div class="slider__item history__slider__item">
										<a class = "history__slider__period link_white" href="/periods?tag=tag7">
											<img class = "history__slider__period-picture" width="480" height="268" src = "/assets/images/periods/image7.png" alt="Изображение 7">
											<div class = "history__slider__period-tittle">Япония в качестве Великой Державы</div>
										</a>
									</div>
									<div class="slider__item history__slider__item">	
										<a class = "history__slider__period link_white" href="/periods?tag=tag8">
											<img class = "history__slider__period-picture" width="480" height="268" src = "/assets/images/periods/image8.png" alt="Изображение 8">
											<div class = "history__slider__period-tittle">Современность</div>
										</a>
							  		</div>
								</div>
						  	</div>
						</div>
						<a href="#" class="slider__control history__slider__control" data-slide="prev"></a>
						<a href="#" class="slider__control history__slider__control" data-slide="next"></a>
						<ol class="slider__indicators history__slider__indicators">
							<li data-slide-to="0"></li>
							<li data-slide-to="1"></li>
							<li data-slide-to="2"></li>
							<li data-slide-to="3"></li>
							<li data-slide-to="4"></li>
							<li data-slide-to="5"></li>
							<li data-slide-to="6"></li>
							<li data-slide-to="7"></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
    </main>
    <%- include('./partials/footer'); %>
	<script defer src="/assets/scripts/chief-slider.min.js"></script>
	<script src = "/assets/scripts/history.js"></script>
    <script type="module" src = "/assets/scripts/best.js"></script>
</body>
</html>