<!doctype html>
<html lang="ru">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
	<%- include('./partials/header'); %>
	<main>
		<div class = "backdrop"></div>
		<div class = "articles">
			<div class = "articles__container">
				<h1 class = "articles__title">История Японии</h1>
				<nav class = "articles__tags"> 
					<div class = "tags__tag unpressed" id = "tag1">Доисторическая Япония</div>
					<div class = "tags__tag unpressed" id = "tag2">Эра родовой аристократии</div>
					<div class = "tags__tag unpressed" id = "tag3">Эра военной аристократии</div>
					<div class = "tags__tag unpressed" id = "tag4">Эпоха воюющих провинций</div>
					<div class = "tags__tag unpressed" id = "tag5">Сёгунат Токугава</div>
					<div class = "tags__tag unpressed" id = "tag6">Модернизация</div>
					<div class = "tags__tag unpressed" id = "tag7">Япония в качестве<br>Великой Державы</div>
					<div class = "tags__tag unpressed" id = "tag8">Современность</div>
				</nav>
				<h2 class = "articles__found-articles">Найденые статьи</h2>
				<div id = "Articles" v-cloak>
					<div class = "container__loader" v-if = "loading">
						<div class = "loader"></div>
					</div>
					<div v-else-if = "articles.length">
						<div class = "articles__content" v-for="article in articles">
							<div class = "articles__article">
								<a class = "article__container link_black" v-bind:href = "'/article/' + article.article_id">
									<img class = "articles__article-picture" width="478" height="268" v-bind:src = "article.preview_image" alt="Изображение">
									<div class = "articles__article-info">
										<h3 class = "articles__article-title">{{article.name}}</h3>
										<div class = "articles__article-desc">{{article.descr}}</div>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class = "articles__found-articles_none" v-else>Статьи не найдены</div>
				</div>
			</div>
		</div>
	</main>
	<%- include('./partials/footer'); %>
    <script type="module" src = "/assets/scripts/periods.js"></script>
</body>
</html>